<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You are signed in!</title>
</head>
<body>
    <div>
        <h1>User Information Retrieved from Google Profile</h1>
        <ul>
            <li>
                First name: {{first_name}}
            </li>
            <li>
                Last name: {{last_name}}
            </li>
            <li>
                Your unique ID: {{user_id}}
            </li>
            <li>
                JWT: {{jwt}}
            </li>
        </ul>
    </div>

    </p>
</body>